<html>
    <head>
        <style>           
        header{
                background-color: red;
                height: 20%;
                display: flex;
                text-align: center;
                justify-content: center;
                align-items: center;
                margin: 0;
            }
            .head{
                display: flex;
                align-items: center;
                margin-right: 59%;
            }
            .head h1{
                margin-left: 10px;
            }
            header a{
                display: inline-block;
                border: 2px solid white;
                height: 25px;
                width: 60px;
                /* text-align: center; */
                text-decoration: none;
                background-color: transparent;
                color: black;
                margin-top: 18px;
                margin-right: 16px;
                cursor: pointer;
                border-radius: 15px;
            }
            a:hover{
                background-color: darkcyan;
            }
            .content{
                height: 70%;
                /* background-color: blue; */
                /* margin: 0; */
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 50px;
                height: 500px;
                background-color: red; 
                background-image: repeating-linear-gradient(lightblue, yellow 10%, lightblue);
            }
            
            
        </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    </head>
    <body>
        <header>
            <div class="head">
                <i class="fa-sharp fa-solid fa-list-ul fa-2xl"></i>

                <h1>TO DO LIST</h1>
            </div>
            <a href="/sign-in">Sign in</a>
            <a href="/sign-up">Sign-up</a>

        </header>
        
        <div class="content">
            <h3> Welcome </h3>
        </div>
    </body>
</html>